$palette_light:(
    
    first_element:#fae1dd,
    second_element:#fcd5ce,
    third_element:#fec5bb,



    fourth_element:#e8e8e4,
    fifth_element:#d8e2dc,
    sixth_element:#ece4db,





    seventh_element:#ffe5d9,
    eighth_element:#ac0000,
    ninth_element:#f97b68f7);




$palette_regular:(
    
    first_element:#caf0f8,
    second_element:#ade8f4,
    third_element:#90e0ef,



    fourth_element:#48cae4,
    fifth_element:#00b4d8,
    sixth_element:#0096c7,





    seventh_element:#0077b6,
    eighth_element:#023e8a,
    ninth_element:#03045e);


$palette_dark:(
    
    first_element:#f8f9fa,
    second_element:#e9ecef,
    third_element:#dee2e6,



    fourth_element:#ced4da,
    fifth_element:#adb5bd,
    sixth_element:#6c757d,





    seventh_element:#495057,
    eighth_element:#343a40,
    ninth_element:#212926);


