@import "sass_modele/function.scss";
@import "sass_modele/mixin.scss";

body {
    @include body();
    @include no_link();

    hr {
        border-color: white;
    }
}

.head {
    @include head();

    &_main {

        div.first {
            @include flex(row, space-around);
            flex: 1;
        }

        @include flex(row, space-around);

        &--title {
            font-size: 20px;
            font-weight: bold;
            font-family: cursive;
        }

        .element {
            @include dynamic(mode("regular"));
            cursor: pointer;
        }


        &--search {
            flex: 3;
            text-align: center;

            &--1 {
                border-radius: 20px 20px 20px 20px;
                width: 80%;
                height: 20px;
                outline: none;
                border: none;
            }

            &--2 {
                border-radius: 20px 20px 20px 20px;
                height: 25px;
                background-color: map-get($palette_dark, first_element);
                outline: none;
                border: none;
            }
        }

    }

    &_second {
        display: none;

        button:first-child {
            .first_back {
                transform: rotate(180deg)
            }

        }

        &--search {
            @include flex(row, space-around);
            text-align: end;

            &--1 {
                height: 28px;
                flex: 1;
                outline: border;
                color: white;

                input {
                    @include dynamic(mode("dark"), "yes");
                    width: 80%;
                    height: 23px;
                    text-align: start;
                    border-radius: 20px;
                }
            }

            &--2 {
                margin: 0;
                border-radius: 20px;

                button {
                    border: none;
                    outline: none;
                }

            }
        }
    }
}


.slider {
    position: absolute;
    background-color: whitesmoke;
    border-radius: 30px;
    @include media(25%, 40%, 80%);
    margin: 10px;

}

.no-click {
    display: none;
    opacity: 0;
    transition: all 0.5s;
}


.sign {
    position: absolute;
    border-radius: 30px;
    @include media(25%, 40%, 80%);
    margin: 10px;
    right: 0;
    background-color: whitesmoke;

}

.footer {
    @include footer;

    &_one {
        &--element {
            margin: 0 20px;
            transition: all 0.4s;
            @include dynamic(mode("dark"), "none", "none");
        }
    }
}

span {
    font-size: 19px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}


.sign {
    &_element {
        margin: 30px 10px;

        &--first {
            text-align: center;

            a {
                @include flex;
                background-color: map-get($palette_dark, first_element);
                padding: 20px 60px;
                border-radius: 20px;
                box-shadow: 10px 10px 10px grey;
                font-weight: bold;
                font-family: cursive;
            }
        }


        &--second {
            text-align: center;

            a {
                @include flex;
                background-color: map-get($palette_dark, first_element);
                padding: 20px 60px;
                border-radius: 20px;
                box-shadow: 10px 10px 10px grey;
                font-weight: bold;
                font-family: cursive;
                padding: 20px 60px;
            }
        }


        &--thrid {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: bold;
            font-size: 14px;

            a {
                @include flex(row, flex-start, flex-start);

                p:last-child {
                    text-indent: 10px;
                }
            }
        }



        &--fourth {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: bold;
            font-size: 14px;

            a {
                @include flex(row, flex-start, flex-start);

                p:last-child {
                    text-indent: 10px;
                }
            }
        }

        &--first:hover,
        &--second:hover {
            transform: scale(0.95);
        }

    }
}

//______connexion

.signUP {
    @include flex(row);
    height: 80vh;

    &_main {
        background-color: map-get($palette_dark, second_element);
        @include media(50%, 80%, 80%);
        height: 60vh;
        @include flex;

        input {
            border: none;
            outline: none;
            @include media(40vw, 40vw, 60vw);
            @include mediaH(40px, 40px, 40px);
            border-bottom: 2px solid map-get($palette_regular, second_element);
            transition: all 1s;
        }

        input:invalid{
            border-bottom: 3px solid map-get($palette_regular, fifth_element);
            transition: all 1s;
        }

       

        input:valid{
            border-bottom: 3px solid map-get($palette_regular, sixth_element);
            transition: all 1s;
        }


        p{
            text-align: center;
            button{
                border-radius: 20px;
                padding: 10px;
                border: none;
                outline: none;
                background-color: white;
            }
        }
    }
}