@import "sass_modele/function.scss";
@import "sass_modele/mixin.scss";

body {
    @include body();
    @include no_link();

    hr {
        border-color: white;
    }


}

.head {

    @include head();

    &_main {

        div.first {
            @include flex(row, space-around);
            flex: 1;

            #menu {
                padding: 10px;
            }
        }

        @include flex(row, space-around);

        &--title {
            font-size: 20px;
            font-weight: bold;
            font-family: cursive;

        }

        .element {
            @include dynamic(mode("regular"));
            cursor: pointer;
        }


        &--search {
            flex: 3;
            text-align: center;

            &--1 {
                border-radius: 20px 20px 20px 20px;
                width: 80%;
                height: 20px;
                outline: none;
                border: 1px solid #00000089;
            }

            &--2 {
                border-radius: 20px 20px 20px 20px;
                height: 25px;
                background-color: map-get($palette_dark, first_element);
                outline: none;
                border: none;
            }
        }

    }

    &_second {
        display: none;

        button:first-child {
            .first_back {
                transform: rotate(180deg)
            }

        }

        &--search {
            @include flex(row, space-around);
            text-align: end;

            &--1 {
                height: 28px;
                flex: 1;
                outline: 0;
                color: white;

                input {
                    @include dynamic(mode("dark"), "yes");
                    width: 80%;
                    height: 23px;
                    text-align: start;
                    border-radius: 20px;
                }
            }

            &--2 {
                margin: 0;
                border-radius: 20px;

                button {
                    border: none;
                    outline: none;
                }

            }
        }
    }
}


.slider {
    background-color: map-get($palette_dark, third_element);
    // background-color: #0077b6;
    top: 10vh;
    position: fixed;
    transition: all 0.4s;
    transition-timing-function: ease-out;

    @media all and (orientation:landscape) and (max-width:1023px) and (min-width: 375px) {
        top: 13vh;
    }

    height: 100vh;
    width: 0%;
    z-index: 2;

    p {
        display: inline;
        padding: 0 0 0 20px;
        @include flex(row, flex-start);
    }

}

.no-click {
    display: none;
    opacity: 0;
    transition: all 0.5s;
}




.sign {
    position: fixed;
    transition: all 0.4s;
    transition-timing-function: ease-out;
    width: 1%;
    right: 0;
    top: 10vh;
    background-color: map-get($palette_dark, third_element);
    z-index: 2;
    height: 100vh;
}

span {
    font-size: 19px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}


.sign {

    &_element {
        margin: 30px 10px;
        @include media(30px, 20px, 10px);


        &--first {
            text-align: center;

            a {
                @include flex;
                background-color: map-get($palette_dark, first_element);
                padding: 20px 60px;
                border-radius: 20px;
                box-shadow: 10px 10px 10px grey;
                font-weight: bold;
                font-family: cursive;
            }
        }


        &--second {
            text-align: center;

            a {
                @include flex;
                background-color: map-get($palette_dark, first_element);
                padding: 20px 60px;
                border-radius: 20px;
                box-shadow: 10px 10px 10px grey;
                font-weight: bold;
                font-family: cursive;
                padding: 20px 60px;
            }
        }


        &--thrid {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: bold;
            font-size: 14px;

            a {
                @include flex(row, flex-start, flex-start);

                p:last-child {
                    text-indent: 10px;
                }
            }
        }



        &--fourth {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: bold;
            font-size: 14px;

            a {
                @include flex(row, flex-start, flex-start);

                p:last-child {
                    text-indent: 10px;
                }
            }
        }

        &--first:hover,
        &--second:hover {
            transform: scale(0.95);
        }

    }
}

//______ici en dessous c'est la partie de connexion et inscription

.signUP {
    @include flex(column);
    height: 80vh;

    h1 {

        font-family: cursive;
        text-transform: capitalize;
        text-decoration: underline;

    }

    span {
        //la partie alert  de la partir  d'incription ou de connexion
        background-color: #f97b68f7;
        @include invalid();
        font-size: 2.5vh;
        margin: 0 10px;
    }


    &_main {
        background-color: #ffffff;
        height: 100%;
        padding: 20px 0px;
        @include flex;
        @include media(60%, 90%, 90%);
        @include mediaH(100%, 90%, 1700px, landscape);

        input {
            border: none;
            outline: none;
            @include media(50vw, 50vw, 70vw);
            height: 100%;
            border-bottom: 2px solid map-get($palette_regular, second_element);
            transition: background 0.5s;
        }


        span {
            background: white;
            margin: 0 0 0 10px;
            padding: 6px;
        }


        &--who{
            display: none;
        }

        p {
            text-align: center;

            button {
                border-radius: 20px;
                padding: 10px;
                border: none;
                outline: none;
                background-color: white;
            }
        }

        &--link {
            @include link();
            font-size: small;
        }
    }
}


// ici c'est la partie pour si la connexion ou l'inscription passe ou passe pas

.shit {
    @include invalid;
    text-align: center;
    margin: 1% 8%;

    p {
        padding: 10px;
    }
}



.best {
    @include valid;
    text-align: center;
    margin: 1% 8%;

    p {
        padding: 10px;
    }
}



//pour le panier

.panier {

    overflow: hidden;

    &_main {
        @include flex(row, space-between, stretch);
        width: 100%;
        padding-left: 10px;
        padding-right: 15px;

        p.first {
            //panier
            padding: 10px 20px;
            font-weight: bold;
            font-style: italic;
            text-transform: capitalize;
            background-color: #0077b6;
            border-radius: 15px;
            color: #ffffff;
        }

        p:last-child {
            //img close
            padding: 10px 20px;
            @include dynamic(mode("dark"), "yes", "none");
            cursor: pointer;
        }

    }



    &_book {
        &--first {
            text-align: center;
            font-weight: bold;
            text-transform: capitalize;
        }
    }

    &_second {
        @include flex();
        height: 50vh;

        img {
            @include media(30vh, 25vh, 15vh);
            padding: 30px;
            background-color: #e9ecef;
            border-radius: 40%;
        }
    }
}


.resize-bloc {
    @include mediabig() {
        position: absolute;
        right: 0;
        transition: all 0.4s;
        @include flex;
    }
}

.le_pere_carousel {
    @include flex;

    @include mediasmal {
        overflow-x: scroll;
    }

    @include mediamedium {
        overflow-x: scroll;

    }

    .principale_carousel {

        .carousel {

            @include mediamedium() {

                overflow: scroll;
                z-index: -1;
            }

            @include mediasmal() {

                overflow: scroll;
                z-index: -1;
            }

            @include mediabig() {
                width: 150vh;
                @include flex(row, flex-end, flex-end);
            }

            &_main {
                @include mediabig() {
                    @include flex(row, flex-end, flex-end);
                }

                transition: all 1s;



                &--first {
                    @include mediamedium() {
                        @include flex(row, flex-start);
                    }

                    @include mediasmal() {
                        @include flex(row, flex-start);
                    }

                    @include mediabig() {
                        @include flex(row, flex-end, flex-end);
                    }

                    transition: all 1s;

                    p {

                        @include mediasmal() {
                            margin: 0 10px;
                        }

                        @include mediamedium() {
                            margin: 0 10px;
                        }

                        @include mediabig() {
                            @include flex(row, flex-end, flex-end);

                        }

                        transition: all 1s;

                        img {

                            @include media(150vh, 75vh, 50vh);

                            @include iphoneX() {
                                @include media(150vh, 75vh, 40vh);
                            }

                            transition: all 1s;

                        }
                    }
                }
            }
        }

        .btn {
            @include mediabig() {
                display: block;
                position: absolute;
                padding: 10px;

                &:hover {
                    background-color: rgba(44, 38, 38, 0.434);
                    cursor: pointer;
                }
            }

            display:none;
        }

        .element_carousel {
            @include mediabig() {
                display: block;
                @include flex();

                p#ok {
                    background-color: #b1d0efda;
                    margin: 0 4px;
                    border-radius: 100%;
                    padding: 10px;
                }
            }

            display:none;
        }
    }
}

.article {
    &_main {
        display: grid;
        justify-items: stretch;
        row-gap: 5vh;
        column-gap: 3vw;
        justify-content: stretch;
        margin: 3vw;

        @include mediasmal() {
            grid-template-columns: 1fr 1fr;
        }

        @include mediamedium {
            grid-template-columns: 1fr 1fr;
        }

        background-color: #ffffff;

        &--child {
            padding: 10px;
            box-shadow: 10px 10px 10px map-get($palette_dark, second_element);
            transition: all 0.5s;

            @include mediabig {
                width: 100/4vw;
                height: 40vh;
                overflow: hidden;
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 4fr 0.5fr 0.5fr;
            }

            @include mediasmal() {
                width: 100/3vw;
                height: 30vh;
                overflow: hidden;
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 4fr 0.5fr 0.5fr;
            }


            @include mediamedium {
                width: 100/3vw;
                height: 30vh;
                overflow: hidden;
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 4fr 0.5fr 0.5fr;
            }

            &--img {
                margin: 0;
                padding: 0;

                img {
                    @include mediabig {
                        width: 25vw;
                        height: 28vh;
                    }

                    @include mediasmal {
                        width: 50vw;
                        height: 14vh;
                    }

                    @include mediamedium {
                        width: 100/3vw;
                        height: 14vh;
                    }
                }
            }

            &--img:hover {
                transition: all 0.4s;
                scale: 1.05;
            }



            &--img:active {
                scale: 1.05;
                transition: all 0.4s;
            }

            &--price {
                margin: 0;
                padding: 0;
               
                strong {
                    margin: 0;
                    padding: 0;
                }

                del {
                    margin: 0;
                    padding: 0;
                }
            }

            &--text {
                text-align: justify;
                text-indent: 2vw;
                justify-self: start;
            }
        }

        &--child:hover {
            box-shadow: none;
        }

        &--child:active {
            box-shadow: none;
        }
    }
}